<table border="1">
  <thead>
    <tr>
      <td>
        Nº Preguntas
      </td>
      <td>
        Nº Comentarios
      </td>
      <td>
        Nº Medio Comentarios/Preguntas
      </td>
      <td>
        Nº Preguntas S/Comentarios
      </td>
      <td>
        Nº Preguntas C/Comentarios
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= total_quizes %>
      </td>
      <td>
        <%= total_comments %>
      </td>
      <td>
        <%= average %>
      </td>
      <td>
        <%= no_commented %>
      </td>
      <td>
        <%= commented_quizes %>
      </td>
    </tr>
  </tbody>
</table>
